<div class="collection-template" data-section-id="{{ section.id }}" data-section-type="collection-template">
  <!-- row 1 -->
  <div class="banner mobile-banner-1 mobile-flex">
    <div class="col-xs-9 col-md-4 col-md-offset-1 mobile-margin">
      <h2>Superfood dog treats <br> with Coconut &amp; Chia</h2>
      <p>Full or omega-3 fatty acids, antioxidants and zinc for beautiful skin and coats. Perfect for dogs with lots of hair or skin issues.</p>
      <a href="https://bellandbone.com.au/products/superfood-dog-treats-coconut-chia">
       <button class="shop-now-blue-btn mobile-btn-width">SHOP NOW</button>
     </a>
   </div>
 </div>
 <!-- /row 1 -->
 <!-- row 2 -->
 <div class="banner-2 mobile-banner-2 mobile-flex">
  <div class="col-xs-9 col-md-4 col-md-offset-7 mobile-margin">
    <h2>Superfood dog treats <br> with carob & ginger</h2>
    <p>Rich in fiber and nutrients that promote digestive health? this treats are perfect for puppies, older dogs and health nuts.</p>
    <a href="https://bellandbone.com.au/products/superfood-dog-treats-carob-ginger">
      <button class="shop-now-yellow-btn mobile-btn-width">SHOP NOW</button>
    </a>
  </div>
</div>
<!-- /row 2 -->
<!-- row 3 -->
<div class="banner-3 mobile-banner-3 mobile-flex">
  <div class="col-xs-9 col-md-4 col-md-offset-1 mobile-margin">
    <h2>Superfood Dog treats <br> with flaxseed & tumeric</h2>
    <p>Busting with omega-3 fatty acids and nature`s own anti-inflammatory these treats are perfect for active dogs and older dogs.</p>
    <a href="https://bellandbone.com.au/products/superfood-dog-treats-flaxseed-turmeric">
      <button class="shop-now-green-btn mobile-btn-width">SHOP NOW</button>
    </a>
  </div>
</div>
<!-- /row 3 -->
</div>


<style>
#MainContent{
  padding-bottom: 0!important;
}
.banner {
  background-image: url('https://cdn.shopify.com/s/files/1/0006/4267/8843/files/Bell_Bone_D_Coconut_Chia_1200x600px.jpg?11908469340171217962');
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
}
.banner-2 {
  background-image: url('https://cdn.shopify.com/s/files/1/0006/4267/8843/files/Bell_Bone_D_Carob_Ginger_1200x600px.jpg?11908469340171217962');
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
}
.banner-3 {
  background-image: url('https://cdn.shopify.com/s/files/1/0006/4267/8843/files/Bell_Bone_D_Flaxseed_Tumeric_1200x600px.jpg?11908469340171217962');
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
}
h2{
  font-family: economica;
  font-weight: bold;
  color: #666666;
  line-height: 48px;
}
p{
  font-family: poppins;
  font-weight: 300;
  color: #808080;
  line-height: 24px;
  font-size: 14px;
}
.shop-now-blue-btn {
  width: 300px;
  height: 40px;
  margin: 25px 0 0 0;
  background-color: #00A1DF;
  color: #FFF;
  border-width: 0;
  text-align: center;
  font-family: poppins;
  font-size: 14px;
  letter-spacing: 2px;
}
.shop-now-blue-btn:hover {
  background-color: #0A88B8;
  color: #FFF;
}
.shop-now-yellow-btn {
  width: 300px;
  height: 40px;
  margin: 22px 0 0 0;
  background-color: #FF9E16;
  color: #FFF;
  border-width: 0;
  text-align: center;
  font-family: poppins;
  font-size: 14px;
  letter-spacing: 2px;
}
.shop-now-yellow-btn:hover {
  background-color: #EB8900;
  color: #FFF;
}
.shop-now-green-btn {
  width: 300px;
  height: 40px;
  margin: 25px 0 0 0;
  background-color: #00B09A;
  color: #FFF;
  border-width: 0;
  text-align: center;
  font-family: poppins;
  font-size: 14px;
  letter-spacing: 2px;
}
.shop-now-green-btn:hover {
  background-color: #009E8A;
  color: #FFF;
}
/*mobile responsive*/
@media only screen and (max-width:768px){
.banner{
  display:none;
}
.mobile-banner-1{
background-image: url('https://cdn.shopify.com/s/files/1/0006/4267/8843/files/Bell_Bone_M_Coconut_Chia_360x400px.jpg?7087355926079521280');
  background-size: cover !important;
  display: flex;
  align-items: center;
  height:70vh;
}
.mobile-banner-2{
background-image: url('https://cdn.shopify.com/s/files/1/0006/4267/8843/files/Bell_Bone_M_Carob_Ginger_360x400px.jpg?7087355926079521280');
  background-size: cover !important;
  display: flex;
  align-items: center;
  height:70vh;
}
.mobile-banner-3{
background-image: url('https://cdn.shopify.com/s/files/1/0006/4267/8843/files/Bell_Bone_M_Flaxseed_Tumeric_360x400px.jpg?7087355926079521280');
  background-size: cover !important;
  display: flex;
  align-items: center;
  height:70vh;
}
.mobile-flex{
  display: flex;
  justify-content: center;
}
.mobile-margin{
  margin-top:90px;
}
h2{
  line-height: 38px;
}
.mobile-btn-width{
  width:284px;
}
</style>

