<footer class="site-footer" role="contentinfo" data-section-type="footer" data-section-id="footer" data-footer-parallax data-section-id="footer" data-section-type="footer" style="background-color: #f6f6f6;">
  <div class="page-width">

      <div class="flex-footer">

          <div class="flex-footer__item flex-footer__item--menu" style="display:flex;" >

            <ul class="site-footer__linklist">
              <li><a href="/collections/all"><p>Shop</p></a></li>
              <li><a href="/blogs/blog"><p>Lifestyle</p></a></li>
              <li><a href="/pages/about-us"><p>About Us</p></a></li>
            </ul>

            <ul class="site-footer__linklist">
              <li><a href="/collections/all"><p>Wholesale</p></a></li>
             <li><a href="/pages/contact-us"><p>Contact Us</p></a></li>
              <li><a href="/pages/about-us"><p>Stockists</p></a></li>
            </ul>

            <ul class="site-footer__linklist">
              <li><a href="https://www.instagram.com/bellandbone/"><p>Instagram</p></a></li>
              <li><a href="https://www.facebook.com/bell.and.bone.au/"><p>Facebook</p></a></li>
            </ul>

          </div>



          <div class="flex-footer__item flex-footer__item--newsletter">
            <div class="site-footer__newsletter">
              <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type" value="customer" /><input type="hidden" name="utf8" value="✓" />
                <input type="hidden" name="contact[tags]" value="newsletter">
<!--                 <label for="NewsletterEmail" class="site-footer__newsletter-label">Sign up for updates</label> -->
<!--                 <div class="site-footer__newsletter-subheading"><p>Promotions, new products and sales. Directly to your inbox.</p></div> -->
                <div class="input-group--underline">
                  <input type="email" value="" placeholder="Enter your email to sign up for" name="contact[email]" id="NewsletterEmail" class="input-group__field site-footer__newsletter-input" aria-label="My email address" autocorrect="off" autocapitalize="off">
                </div>
                <div class="input-group__btn input-group__btn--newsletter">
                  <button type="submit" class="btn--newsletter__submit subscribe--btn">
                    Join
                  </button>
                </div>

                <div class="site-footer__newsletter-message" aria-role="alert">

                  </div>
              </form>
            </div>
          </div>

      </div>


    <div class="site-footer__bottom">


      <div class="site-footer__copyright flex-footer__item--one-third" style="text-align:left;" >
        <ul class="payment-icons list--inline"style="list-style: none;text-align:left;"><li class="payment-icon" style="list-style: none;">
                  <svg class="icon icon--full-color" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 38 24" aria-labelledby="pi-american_express"><title id="pi-american_express">American Express</title><path d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z" fill="#000" opacity=".07"/><path d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32" fill="#002663"/><path d="M8.971 10.268l.774 1.876H8.203l.768-1.876zm16.075.078h-2.977v.827h2.929v1.239h-2.923v.922h2.977v.739l2.077-2.245-2.077-2.34-.006.858zm-14.063-2.34h3.995l.887 1.935L16.687 8h10.37l1.078 1.19L29.25 8h4.763l-3.519 3.852 3.483 3.828h-4.834l-1.078-1.19-1.125 1.19H10.03l-.494-1.19H8.406l-.495 1.19H4L7.286 8h3.43l.267.006zm8.663 1.078h-2.239l-1.5 3.536-1.625-3.536H12.06v4.81l-2.06-4.81H8.007l-2.382 5.512H7.18l.494-1.19h2.596l.494 1.19h2.72v-3.935l1.751 3.941h1.19l1.74-3.929v3.93h1.458l.024-5.52zm9.34 2.768l2.531-2.768h-1.822l-1.601 1.726-1.548-1.726h-5.894v5.518h5.81l1.614-1.738 1.548 1.738h1.875l-2.512-2.75z" fill="#FFF"/></svg>
                </li><li class="payment-icon">
                  <svg class="icon icon--full-color" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 38 24" aria-labelledby="pi-apple_pay"><title id="pi-apple_pay">Apple Pay</title><path d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z" id="Shape" fill="#000" opacity=".07"/><path d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32" id="Shape" fill="#FFF"/><path d="M31.768 9.03l-1.504 4.091c-.136.357-.261.718-.374 1.083h-.029l-.115-.357c-.078-.24-.162-.476-.248-.7l-1.61-4.117h-.86l2.302 5.919a.67.67 0 0 1 .07.234.971.971 0 0 1-.07.236c-.145.355-.31.66-.49.909a5.335 5.335 0 0 1-.504.605 2.738 2.738 0 0 1-.539.427c-.187.11-.358.2-.51.268l-.086.038.28.682.089-.033a5.6 5.6 0 0 0 .418-.192 3.2 3.2 0 0 0 .69-.489c.214-.186.409-.406.582-.654.17-.244.34-.53.507-.849.165-.317.33-.678.49-1.074.162-.398.335-.841.513-1.319l1.86-4.708h-.862zm-6.293 4.347c0 .085-.02.204-.06.345a1.71 1.71 0 0 1-.568.806c-.139.11-.305.198-.494.263a1.974 1.974 0 0 1-.646.099c-.146 0-.288-.024-.425-.072a1.033 1.033 0 0 1-.357-.214 1.067 1.067 0 0 1-.251-.363 1.365 1.365 0 0 1-.096-.54c0-.345.093-.626.275-.83a1.81 1.81 0 0 1 .72-.488 3.69 3.69 0 0 1 .971-.221c.31-.03.62-.043.931-.04v1.255zm.82 1.257c-.01-.25-.013-.5-.013-.75v-2.456c0-.291-.03-.588-.087-.883a2.238 2.238 0 0 0-.334-.822 1.866 1.866 0 0 0-.68-.604c-.288-.153-.662-.232-1.11-.232-.329 0-.65.043-.952.127a3.013 3.013 0 0 0-.89.424l-.065.044.272.638.1-.066a2.66 2.66 0 0 1 1.47-.451c.337 0 .605.06.797.181.194.121.34.272.436.447.098.182.163.375.191.575.03.209.045.396.045.556v.071c-1.196-.005-2.13.194-2.75.593-.65.419-.98 1.015-.98 1.773 0 .217.04.437.116.654.078.22.197.415.352.584.156.17.357.308.598.411.24.105.523.158.838.158a2.362 2.362 0 0 0 1.86-.86h.031l.075.716h.777l-.021-.115a4.956 4.956 0 0 1-.077-.713h.001zm-6.243-4.061c-.414.347-1 .523-1.744.523a6.08 6.08 0 0 1-.575-.026 2.707 2.707 0 0 1-.405-.068V7.246c.362-.064.73-.093 1.097-.086.336 0 .646.04.922.12.273.078.51.195.708.346.193.15.346.345.451.58.107.239.16.523.16.844 0 .668-.207 1.18-.614 1.523zm.742-3.374a2.529 2.529 0 0 0-.966-.561c-.386-.128-.849-.194-1.376-.194-.365 0-.705.018-1.012.053-.303.035-.585.074-.838.117l-.081.014v8.834h.807v-3.721c.272.046.583.071.925.071.457 0 .884-.058 1.272-.173a2.85 2.85 0 0 0 1.018-.532c.287-.237.515-.535.682-.884a2.86 2.86 0 0 0 .249-1.225c0-.383-.061-.727-.18-1.024a2.335 2.335 0 0 0-.5-.775zm-8.05 3.688c-.01-1.257 1.026-1.862 1.074-1.892-.585-.85-1.492-.967-1.815-.98-.772-.077-1.509.454-1.9.454s-.994-.442-1.637-.429c-.842.012-1.618.49-2.052 1.243-.873 1.522-.222 3.769.63 4.998.417.603.913 1.28 1.567 1.255.63-.024.865-.406 1.625-.406.759-.002.973.405 1.636.394.676-.014 1.106-.615 1.52-1.221.477-.697.674-1.375.684-1.409-.013-.008-1.316-.505-1.331-2.008l-.001.001zM11.309 7.2c.346-.42.58-1.003.516-1.584-.5.02-1.105.335-1.46.752-.323.371-.602.965-.525 1.534.556.044 1.123-.282 1.469-.702z" id="Shape" fill="#0A0A08"/></svg>
                </li><li class="payment-icon">
                  <svg class="icon icon--full-color" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="pi-master"><title id="pi-master">Mastercard</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"/><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"/><circle fill="#EB001B" cx="15" cy="12" r="7"/><circle fill="#F79E1B" cx="23" cy="12" r="7"/><path fill="#FF5F00" d="M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7s1.2 4.5 3 5.7c1.8-1.2 3-3.3 3-5.7z"/></svg>
                </li><li class="payment-icon">
                  <svg class="icon icon--full-color" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="pi-paypal"><title id="pi-paypal">PayPal</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"/><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"/><path fill="#003087" d="M23.9 8.3c.2-1 0-1.7-.6-2.3-.6-.7-1.7-1-3.1-1h-4.1c-.3 0-.5.2-.6.5L14 15.6c0 .2.1.4.3.4H17l.4-3.4 1.8-2.2 4.7-2.1z"/><path fill="#3086C8" d="M23.9 8.3l-.2.2c-.5 2.8-2.2 3.8-4.6 3.8H18c-.3 0-.5.2-.6.5l-.6 3.9-.2 1c0 .2.1.4.3.4H19c.3 0 .5-.2.5-.4v-.1l.4-2.4v-.1c0-.2.3-.4.5-.4h.3c2.1 0 3.7-.8 4.1-3.2.2-1 .1-1.8-.4-2.4-.1-.5-.3-.7-.5-.8z"/><path fill="#012169" d="M23.3 8.1c-.1-.1-.2-.1-.3-.1-.1 0-.2 0-.3-.1-.3-.1-.7-.1-1.1-.1h-3c-.1 0-.2 0-.2.1-.2.1-.3.2-.3.4l-.7 4.4v.1c0-.3.3-.5.6-.5h1.3c2.5 0 4.1-1 4.6-3.8v-.2c-.1-.1-.3-.2-.5-.2h-.1z"/></svg>
                </li><li class="payment-icon">
                  <svg class="icon icon--full-color" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 38 24" aria-labelledby="pi-shopify_pay"><title id="pi-shopify_pay">Shopify Pay</title><path d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z" id="Shape" fill="#000" opacity=".07"/><path d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32" id="Shape" fill="#FFF"/><path d="M13.415 8.062a.097.097 0 0 0-.095-.083c-.037 0-.872-.06-.872-.06s-.576-.555-.647-.615c-.063-.06-.186-.044-.234-.03-.008 0-.124.039-.328.099-.194-.547-.537-1.043-1.138-1.043h-.054c-.164-.209-.382-.307-.56-.307-1.404 0-2.075 1.687-2.286 2.541-.544.165-.934.276-.982.292-.302.09-.311.097-.35.374-.03.21-.826 6.132-.826 6.132l6.197 1.116 3.359-.696c0-.008-1.176-7.668-1.185-7.72h.001zm-2.518-.6c-.175.05-.349.103-.522.158v-.113c0-.33-.048-.6-.126-.816.313.045.516.382.648.77v.001zm-1.036-.696c.085.21.138.501.138.906v.06c-.341.105-.708.21-1.083.322.21-.771.61-1.147.945-1.288zm-.414-.383a.32.32 0 0 1 .18.06c-.454.203-.929.711-1.13 1.74-.297.089-.586.171-.858.253.233-.78.802-2.052 1.808-2.052v-.001z" id="Shape" fill="#95BF47"/><path d="M13.322 7.972c-.04 0-.874-.06-.874-.06s-.576-.555-.647-.615a.128.128 0 0 0-.086-.037l-.467 9.218 3.359-.696-1.186-7.72a.132.132 0 0 0-.1-.09h.001z" id="Shape" fill="#5E8E3E"/><path d="M10.101 9.756l-.412 1.183s-.367-.187-.81-.187c-.656 0-.686.397-.686.496 0 .54 1.465.748 1.465 2.016 0 .996-.656 1.64-1.544 1.64-1.068 0-1.606-.636-1.606-.636l.289-.907s.56.464 1.029.464a.43.43 0 0 0 .31-.112.389.389 0 0 0 .126-.292c0-.705-1.2-.735-1.2-1.896 0-.975.725-1.92 2.197-1.92.563-.006.842.151.842.151z" id="Shape" fill="#FFF"/><path d="M20.177 8.401c1.468 0 2.421.934 2.421 2.263 0 1.335-.953 2.256-2.427 2.256h-1.755v2.68h-1.02V8.401h2.782-.001zm1.374 2.263c0-.891-.538-1.404-1.468-1.404h-1.669v2.807h1.669c.93 0 1.467-.517 1.467-1.404l.001.001zm3.354 5.026c-1.13 0-1.907-.676-1.907-1.704 0-.97.71-1.63 2.05-1.63h1.524v-.548c0-.707-.471-1.028-1.219-1.028-.736 0-1.047.27-1.164.654h-.97c.089-.939.866-1.472 2.167-1.472 1.203 0 2.194.491 2.194 1.852V15.6h-.964v-.732h-.044c-.282.442-.81.822-1.668.822h.001zm.276-.808c.787 0 1.391-.506 1.391-1.176v-.621h-1.441c-.787 0-1.108.374-1.108.87 0 .632.555.927 1.158.927zm8.263-4.83H32.38l-1.546 4.604h-.044l-1.541-4.604h-1.113l2.138 5.616-.088.285c-.155.554-.438.871-1.13.871-.139 0-.344-.012-.439-.026v.775c.204.032.41.048.616.048 1.247 0 1.673-.781 2-1.636l.15-.38 2.061-5.553z" id="Shape" fill="#333"/></svg>
                </li><li class="payment-icon">
                  <svg class="icon icon--full-color" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="pi-visa"><title id="pi-visa">Visa</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"/><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"/><path d="M28.3 10.1H28c-.4 1-.7 1.5-1 3h1.9c-.3-1.5-.3-2.2-.6-3zm2.9 5.9h-1.7c-.1 0-.1 0-.2-.1l-.2-.9-.1-.2h-2.4c-.1 0-.2 0-.2.2l-.3.9c0 .1-.1.1-.1.1h-2.1l.2-.5L27 8.7c0-.5.3-.7.8-.7h1.5c.1 0 .2 0 .2.2l1.4 6.5c.1.4.2.7.2 1.1.1.1.1.1.1.2zm-13.4-.3l.4-1.8c.1 0 .2.1.2.1.7.3 1.4.5 2.1.4.2 0 .5-.1.7-.2.5-.2.5-.7.1-1.1-.2-.2-.5-.3-.8-.5-.4-.2-.8-.4-1.1-.7-1.2-1-.8-2.4-.1-3.1.6-.4.9-.8 1.7-.8 1.2 0 2.5 0 3.1.2h.1c-.1.6-.2 1.1-.4 1.7-.5-.2-1-.4-1.5-.4-.3 0-.6 0-.9.1-.2 0-.3.1-.4.2-.2.2-.2.5 0 .7l.5.4c.4.2.8.4 1.1.6.5.3 1 .8 1.1 1.4.2.9-.1 1.7-.9 2.3-.5.4-.7.6-1.4.6-1.4 0-2.5.1-3.4-.2-.1.2-.1.2-.2.1zm-3.5.3c.1-.7.1-.7.2-1 .5-2.2 1-4.5 1.4-6.7.1-.2.1-.3.3-.3H18c-.2 1.2-.4 2.1-.7 3.2-.3 1.5-.6 3-1 4.5 0 .2-.1.2-.3.2M5 8.2c0-.1.2-.2.3-.2h3.4c.5 0 .9.3 1 .8l.9 4.4c0 .1 0 .1.1.2 0-.1.1-.1.1-.1l2.1-5.1c-.1-.1 0-.2.1-.2h2.1c0 .1 0 .1-.1.2l-3.1 7.3c-.1.2-.1.3-.2.4-.1.1-.3 0-.5 0H9.7c-.1 0-.2 0-.2-.2L7.9 9.5c-.2-.2-.5-.5-.9-.6-.6-.3-1.7-.5-1.9-.5L5 8.2z" fill="#142688"/></svg>
                </li></ul>
        <br>
      </div><div class="site-footer__payment-icons flex-footer__item--one-third"><span class="visually-hidden">Payment icons</span>
            </div>
    </div>
  </div>


    <div class="site-footer__drawer-cover"></div>

</footer>

<style>
  #MainContent{
  margin-bottom: 60px!important;
  }
  .site-footer__linklist{
  margin-right:32px;
  }
  .site-footer__linklist>li{
  margin-bottom: 15px;
   font-size: 13px;

font-family: Poppins;
font-weight: 300;
color: #808080;
  }
  .site-footer__linklist>li>a{
    text-decoration: none;
  }
    #MainContent, .content-for-layout{margin-bottom:0px!important}
  #NewsletterEmail{
    font-family: poppins;
    font-size: 13px;
  font-weight:200;}
  .site-footer__newsletter, .flex-footer__item--menu{
  margin-top:20px;
  }
  .subscribe--btn{
  margin-top: 20px;

background-color: #666666;

color: white!important;

font-size: 13px;

text-transform: uppercase;

padding: 11px;
font-weight:300;
width: 277px;}
  .site-footer__newsletter{width: 277px;}
  .flex-footer__item--newsletter{max-width:357px;}
  #NewsletterEmail::placeholder{color:#808080;}
  .input-group--underline{
  border-color:#808080!important;}
</style>

{% schema %}
{
  "name": {
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fr": "Pied de page",
    "it": "Footer",
    "ja": "フッター",
    "pt-BR": "Rodapé"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_social_icons",
      "label": {
        "de": "Social-Media-Symbole anzeigen",
        "en": "Show social icons",
        "es": "Mostrar íconos de redes sociales",
        "fr": "Afficher les icônes de médias sociaux",
        "it": "Mostra icone social",
        "ja": "ソーシャルアイコンを表示する",
        "pt-BR": "Exibir ícones de redes sociais"
      },
      "info": {
        "de": "Geben Sie in den allgemeinen Einstellungen Ihre Social-Media-Links ein",
        "en": "Fill out your social links in the general settings",
        "es": "Completa tus enlaces de redes sociales en la configuración general.",
        "fr": "Remplissez vos liens de médias sociaux dans les paramètres généraux",
        "it": "Inserisci i dati dei link social nelle impostazioni generali.",
        "ja": "一般設定でソーシャルリンクを記入してください。",
        "pt-BR": "Preencha seus links de redes sociais nas configurações gerais"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": {
        "de": "Zahlungssymbole anzeigen",
        "en": "Show payment icons",
        "es": "Mostrar iconos de pago",
        "fr": "Afficher les icônes de paiement",
        "it": "Mostra le icone di pagamento",
        "ja": "支払いアイコンを表示する",
        "pt-BR": "Exibir ícones de pagamento"
      },
      "info": {
        "de": "Aktualisieren Sie unter Einstellungen/Zahlungen Ihre Zahlungseinstellungen",
        "en": "Update your payment settings in your store's Settings / Payments",
        "es": "Actualiza tu configuración de pagos en Configuración/Pagos de tu tienda.",
        "fr": "Mettez à jour vos paramètres de paiement dans les paramètres/paiements de votre boutique",
        "it": "Aggiorna le impostazioni di pagamento nella sezione Impostazioni / Pagamenti del tuo negozio",
        "ja": "ストアの「設定/決済」で決済設定を更新する",
        "pt-BR": "Atualize suas configurações de pagamento nas configurações/pagamentos da sua loja"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_parallax",
      "label": {
        "de": "Aktivieren Sie den Parallax-Effekt für den Fußzeilen-Scroll",
        "en": "Enable footer scrolling parallax effect",
        "es": "Navegación de paralaje para el desplazamiento del pie de página",
        "fr": "Activer l'effet de défilement parallaxe du pied de page",
        "it": "Abilita effetto parallasse scorrimento footer",
        "ja": "フッターのスクロールするパララックス効果を有効にする",
        "pt-BR": "Ativar o efeito de paralaxe de rolagem do rodapé"
      },
      "default": true
    },
    {
      "type": "header",
      "content": {
        "de": "Newsletter",
        "en": "Newsletter",
        "es": "Boletín",
        "fr": "Newsletter",
        "it": "Newsletter",
        "ja": "ニュースレター",
        "pt-BR": "Newsletter"
      }
    },
    {
      "type": "checkbox",
      "id": "show_newsletter",
      "label": {
        "de": "Newsletter Signup anzeigen",
        "en": "Show newsletter signup",
        "es": "Suscríbete al boletín",
        "fr": "Afficher l'inscription à la newsletter",
        "it": "Mostra iscrizione alla Newsletter",
        "ja": "ニュースレターのサインアップを表示する",
        "pt-BR": "Exibir assinatura da newsletter"
      },
      "default": false
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "label": {
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fr": "Titre",
        "it": "Heading",
        "ja": "見出し",
        "pt-BR": "Título"
      },
      "default": {
        "de": "Registrieren Sie sich für Aktualisierungen",
        "en": "Sign up for updates",
        "es": "Regístrate para recibir actualizaciones",
        "fr": "S'inscrire pour recevoir les mises à jour",
        "it": "Iscriviti per ricevere aggiornamenti",
        "ja": "更新に登録する",
        "pt-BR": "Cadastre-se para receber atualizações"
      }
    },
    {
      "type": "richtext",
      "id": "newsletter_subheading",
      "label": {
        "de": "Unter-Überschrift",
        "en": "Subheading",
        "es": "Subtítulo",
        "fr": "Sous-titre",
        "it": "Sottotitolo",
        "ja": "小見出し",
        "pt-BR": "Subtítulo"
      },
      "default": {
        "de": "<p>Werbeaktionen, neue Produkte und Sonderangebote. Direkt in Ihrem Posteingang.</p>",
        "en": "<p>Promotions, new products and sales. Directly to your inbox.</p>",
        "es": "<p>Promociones, nuevos productos y ventas. Directamente a tu bandeja de entrada.</p>",
        "fr": "<p>Promotions, nouveaux produits et soldes. Directement dans votre boîte de réception.</p>",
        "it": "<p>Promozioni, nuovi prodotti e offerte. Direttamente nella tua inbox.</p>",
        "ja": "<p>プロモーション、新商品、セールについて、あなたの受信箱に直接知らせる。</p>",
        "pt-BR": "<p>Promoções, novos produtos e vendas. Diretamente para sua caixa de entrada.</p>"
      }
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": {
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fr": "Menu",
        "it": "Menu",
        "ja": "メニュー",
        "pt-BR": "Menu"
      },
      "limit": 2,
      "settings": [
        {
          "id": "link_list",
          "type": "link_list",
          "label": {
            "de": "Menü",
            "en": "Menu",
            "es": "Menú",
            "fr": "Menu",
            "it": "Menu",
            "ja": "メニュー",
            "pt-BR": "Menu"
          },
          "default": "footer",
          "info": {
            "de": "Dieses Menü zeigt keine Dropdowns an",
            "en": "This menu won't show dropdown items",
            "es": "Este menú no mostrará elementos desplegables",
            "fr": "Ce menu n'affichera pas les éléments des menus déroulants",
            "it": "Questo menu non mostrerà elementi a discesa",
            "ja": "このメニューにはドロップダウンアイテムは表示されません",
            "pt-BR": "Este menu não mostra itens suspensos"
          }
        }
      ]
    }
  ]
}
{% endschema %}
