
<div id="hero-bb">
  {{ content_for_index }}
</div>
<style>
  @media only screen and (max-width: 748px) {
    #hero-bb {
      margin-top: 60px!important;
    }
  }
</style>

<div style="background-color:white;padding-bottom:600px;">
  <div class="page-width">
    <div class="grid text-center">
      <div class="grid__item medium-up--ten-twelfths medium-up--push-one-twelfth">
        <img style="height: 119.5px;margin-top: -60px;margin-bottom: 38px;"src="https://cdn.shopify.com/s/files/1/0006/4267/8843/files/HEART_ICON_585342d5-a6a7-4533-9db7-c554b42d6fa6.png?12658467989690281202">
        <h2 style="font-family: 'Economica';letter-spacing: 1.5px;font-size: 4rem;color:#666666">We love Bell & Bone</h2>
      </div>
    </div>
    <div class="card-list grid" data-desktop-columns="3" data-grid-style="collage" data-mobile-columns="1">
      <div class="card-list__column grid grid__item medium-up--one-third">
        <div class="card critical-clear has-animated card--reveal" data-animate="" id="Card-1376547045435">
          <div class="card__image-wrapper--relative" style="padding-top:100.0%">

            <img alt="" 
                 class="card__image--review fade-in lazyautosizes lazyloaded" 
                 data-aspectratio="1.0" data-sizes="auto" 
                 data-widths="[180, 220, 300, 360, 460, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]">
            <img alt="" class="card__image--review" 
                 src="https://cdn.shopify.com/s/files/1/0006/4267/8843/files/BELL_BONE-REVIEWTILES_1.jpg?8842401519461422720"></div>
        </div>
      </div>
      <div class="card-list__column grid grid__item medium-up--one-third">
        <div class="card critical-clear has-animated card--reveal" data-animate="" id="Card-1376547045435">
          <div class="card__image-wrapper--relative" style="padding-top:100.0%">

            <img alt="" 
                 class="card__image--review fade-in lazyautosizes lazyloaded" 
                 data-aspectratio="1.0" data-sizes="auto" 
                 data-widths="[180, 220, 300, 360, 460, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]">
            <img alt="" class="card__image--review" 
                 src="https://cdn.shopify.com/s/files/1/0006/4267/8843/files/BELL_BONE-REVIEWTILES_2.jpg?8842401519461422720"></div>
        </div>
      </div>
      <div class="card-list__column grid grid__item medium-up--one-third">
        <div class="card critical-clear has-animated card--reveal" data-animate="" id="Card-1376547045435">
          <div class="card__image-wrapper--relative" style="padding-top:100.0%">

            <img alt="" 
                 class="card__image--review fade-in lazyautosizes lazyloaded" 
                 data-aspectratio="1.0" data-sizes="auto" 
                 data-widths="[180, 220, 300, 360, 460, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]">
            <img alt="" class="card__image--review" 
                 src="https://cdn.shopify.com/s/files/1/0006/4267/8843/files/BELL_BONE-REVIEWTILES_3.jpg?8842401519461422720"></div>
        </div>
      </div>
    </div>
<!--     row 2 -->
        <div class="card-list grid" data-desktop-columns="3" data-grid-style="collage" data-mobile-columns="1">
      <div class="card-list__column grid grid__item medium-up--one-third">
        <div class="card critical-clear has-animated card--reveal" data-animate="" id="Card-1376547045435">
          <div class="card__image-wrapper--relative" style="padding-top:100.0%">

            <img alt="" 
                 class="card__image--review fade-in lazyautosizes lazyloaded" 
                 data-aspectratio="1.0" data-sizes="auto" 
                 data-widths="[180, 220, 300, 360, 460, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]">
            <img alt="" class="card__image--review"
                 style="margin-top: 211px;"
                 src="https://cdn.shopify.com/s/files/1/0006/4267/8843/files/BELL_BONE-REVIEWTILES_4.jpg?8842401519461422720"></div>
        </div>
      </div>
      <div class="card-list__column grid grid__item medium-up--one-third">
        <div class="card critical-clear has-animated card--reveal" data-animate="" id="Card-1376547045435">
          <div class="card__image-wrapper--relative" style="padding-top:100.0%">

            <img alt="" 
                 class="card__image--review fade-in lazyautosizes lazyloaded" 
                 data-aspectratio="1.0" data-sizes="auto" 
                 data-widths="[180, 220, 300, 360, 460, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]">
            <img alt="" class="card__image--review" 
                 style="margin-top: 352px;"
                 src="https://cdn.shopify.com/s/files/1/0006/4267/8843/files/BELL_BONE-REVIEWTILES_5.jpg?8842401519461422720"></div>
        </div>
      </div>
      <div class="card-list__column grid grid__item medium-up--one-third">
        <div class="card critical-clear has-animated card--reveal" data-animate="" id="Card-1376547045435">
          <div class="card__image-wrapper--relative" style="padding-top:100.0%">

            <img alt="" 
                 class="card__image--review fade-in lazyautosizes lazyloaded" 
                 data-aspectratio="1.0" data-sizes="auto" 
                 data-widths="[180, 220, 300, 360, 460, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]">
            <img alt="" class="card__image--review" 
                 style="margin-top: 262px;"
                 src="https://cdn.shopify.com/s/files/1/0006/4267/8843/files/BELL_BONE-REVIEWTILES_6_copy.jpg?17789804093398898141"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .featured-collection{
    padding:100px 0;
  }
  .card__image-wrapper--relative{
    position:relative;
  }
  .card__image--review{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 500ms ease-out;
  }
</style>
