<div class="row grey-background">
  <div class="col-md-6"><img src="https://cdn.shopify.com/s/files/1/0006/4267/8843/files/ContactUs_Image1_600x600px.jpg?14629155626002195860" alt="" /></div>
  <div class="col-md-6">
    <div class="page-width">
  <header class="section-header text-center">
    <h1 class="section-header__title h2">Contact Us</h1>
  </header>
  <div class="grid">
    <div class="grid__item medium-up--four-fifths medium-up--push-one-tenth">
      {% if page.content != blank %}

      {% endif %}

      {% form 'contact' %}
        {% if form.posted_successfully? %}
          <p class="form-success">
           <img class="dog-icon-success" src="https://cdn.shopify.com/s/files/1/0006/4267/8843/files/ContactUs_Vector1_56x56px.png?13806963130246833182">
          <h3>Thank you for contacting Bell and Bone</h3>
      <p>text here</p>
      		<style>
              .bb-contact-form, .section-header__title{display:none}
      		</style>
      
          </p>
        {% endif %}

        {{ form.errors | default_errors }}

      	<div class="bb-contact-form">
          <label for="ContactFormName" class="label--hidden">{{ 'contact.form.name' | t }}</label>
      	<input type="text" id="ContactFormName" name="contact[name]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
      	
      	<label for="ContactFormEmail" class="label--hidden">{{ 'contact.form.email' | t }}</label>
      	<input type="email" id="ContactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

        <label for="ContactFormPhone" class="label--hidden">{{ 'contact.form.phone' | t }}</label>
        <input type="tel" id="ContactFormPhone" name="contact[phone]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

        <label for="ContactFormMessage" class="label--hidden">{{ 'contact.form.message' | t }}</label>
        <textarea rows="1" id="ContactFormMessage" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>

        <input type="submit" class="btn-block btn-bb-white btn--clear" value="{{ 'contact.form.send' | t }}">
    	</div>
      {% endform %}
    </div>
  </div>
</div>
  </div>
</div>

<style>
.hero-img1{
  height: 100%;
  width: 100%;
}
.row {
  margin-right: 0px!important;
  margin-left: 0px!important;
}
.col-md-6{
  padding-right:0px!important;
  padding-left:0px!important;
}
.grey-background{
  background-color: #ebebeb;
}
  
  input[type='text'],input[type='email'],input[type='tel'],input[type='password'],input[type='search'],input[type='number'],textarea,select{
  font-size: 1.4rem;
line-height: 1.71429;
width: 100%;
margin-bottom: 20px;
padding: 10px 20px;
background-color: #ebebeb;
border-bottom: 2px solid grey;
border-radius: 0;
-webkit-appearance: none;
-moz-appearance: none;
border-top: none;
border-left: none;
border-right: none;}
  .btn-bb-white{
  color: #666666;
font-family: 'Poppins';
font-weight: 500;
font-size: 16px;
background-color: white;
width: 300px;
padding: 13px;
text-transform: uppercase;
width: 100%;}
  .dog-icon-success{
  width:70px;
    height:70px;
  }
  #MainContent, .site-footer--parallax, .content-for-layout, {
  margin-bottom:0;
}
.content-for-layout{
  padding-bottom:0;
}
</style>



